#ifndef HOME
#define HOME /home/vesipls
#endif

URxvt.transparent: true
URxvt.shading: 15

URxvt.foreground: #eeeeee
URxvt.font:		xft:FiraCode Nerd Font:Regular:size=10
XTerm*FaceName:		FiraCode Nerd Font:Regular:size=10
URxvt.scrollBar: false
URxvt.letterSpace: -1
URxvt.perl-ext-common: default,selection-to-clipboard,pasta,matcher,keyboard-select
URxvt.keysym.M-u:     perl:url-select:select_next
URxvt.url-launcher:   /usr/bin/firefox
URxvt.underlineURLs:  True
URxvt.matcher.button: 1 
URxvt.keysym.M-Escape:perl:keyboard-select:activate
URxvt.keysym.Control-Shift-V:     perl:pasta:paste
