!colors
*background: #1a1b26
*foreground: #c0caf5

*color0: #15161e
*color1: #f7768e
*color2: #9ece6a
*color3: #e0af68
*color4: #7aa2f7
*color5: #bb9af7
*color6: #7dcfff
*color7: #a9b1d6

*color8: #414868
*color9: #f7768e
*color10: #9ece6a
*color11: #e0af68
*color12: #7aa2f7
*color13: #bb9af7
*color14: #7dcfff
*color15: #c0caf5

!font config, remember to download Adobe source code pro font
URxvt*font: 			xft:SauceCodePro Nerd Font:medium:size=12:antialiasing=true:style=medium
URxvt*boldFont: 		xft:SauceCodePro Nerd Font:size=12:antialiasing=true:style=bold
URxvt*italicFont: 		xft:SauceCodePro Nerd Font:medium:size=12:antialiasing=true:style=italic
URxvt*boldItalicFont: 		xft:SauceCodePro Nerd Font:bold:size=12:antialiasing=true:style=bold italic


!functionality
URxvt.scrollBar:		false
URxvt*depth:			32

!perl extensions
URxvt.perl-ext-common:		default,matcher,selection-to-clipboard

!browser settings
URxvt.url-launcher:		/usr/bin/qutebrowser
URxvt.matcher.button:		C1

!copy paste, autocopy clipboard to primary, who needs more than 1 copy paste anyway
URxvt.clipboard.autocopy:	true

!Up and dow scripping with shift+up/down
URxvt.keysym.Shift-Up:		command:\033]720;1\007
URxvt.keysym.Shift-Down:	command:\033]721;1\007
URxvt.keysym.Shift-Left: 	resize-font:smaller
URxvt.keysym.Shift-Right: 	resize-font:bigger
